{
	"API_BASE_URL": "https://your-api.example.com",
	"ASSET_BASE_URL": "https://your-asset.example.com/examle",
	"RANDOM_IMG_COUNT_PATH": "/path-for-random-img-count",
	"IMAGE_FILENAME_DIGITS": 3,
	"ENABLE_REDIRECT_TESTS": true
}